# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp

# Unity
/Library
/Temp

# Visual Studio
/Plugin/Windows/.vs
/Plugin/Windows/x64
/Plugin/Windows/Win32
*.vcxproj.user

# Xcode
xcuserdata
xcshareddata
